name: Build ESP32 AP OTA

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1
        with:
          version: '0.33.0'

      - name: Show arduino-cli version
        run: |
          arduino-cli version
          arduino-cli core update-index

      - name: Install ESP32 core
        run: |
          arduino-cli core install esp32:esp32

      - name: Show repo files (debug)
        run: |
          echo "workspace files:"
          ls -la

      # 4️⃣ Compile le sketch pour ESP32-WROOM-DA
      - name: Compile sketch
        run: |
          mkdir -p build
          arduino-cli compile --fqbn esp32:esp32:esp32da ESP32_AP_OTA.ino --output-dir build

      # 5️⃣ Upload artifact .bin
      - name: Upload compiled .bin
        uses: actions/upload-artifact@v4
        with:
          name: ESP32-OTA-Bin
          path: build/esp32:esp32:esp32da/ESP32_AP_OTA.ino.bi